{% extends 'base.htm' %}

{% block cabecalho %}Meus Formulários{% endblock %}

{% block descricao %}Crie, visualize e edite formulários existentes.{% endblock %}

{% block conteudo %}
{% comment %}<h2>Formulários ({{ formularios|length }}) <small>Adicionar novo</small></h2>{%endcomment%}
<p><a href="/i/forms/edit/"><i class="fa fa-plus"></i>&nbsp;Novo</a></p>

{% for message in messages %}
<div class="alert alert-success" role="alert">
  {{ message|safe }}
</div>
{% endfor %}

<table class="table table-striped">
      <thead>
        <tr>
          <th>NR</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Criação</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
  {% if formularios %}
      {% for form in formularios %}
        <tr>
          <th scope="row">{{ form.nr }}</th>
          <td>{{ form.nome }}</td>
          <td>{{ form.descricao|linebreaksbr }}</td>
          <td>{{ form.criacao }}</td>
          <td>Respostas Editar</td>
        </tr>
      {% endfor %}
  {% else %}
        <tr>
          <th colspan="5" style="text-align:center;"><i>Nenhum formulário.</i></td>
        </tr>
  {% endif %}
      </tbody>
    </table>
{% endblock %}