{% extends 'base.htm' %}

{% block cabecalho %}Novo formulário{% endblock %}

{% block descricao %}{% endblock %}

{% block conteudo %}

<p><a href="/i/forms/"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;&nbsp;Voltar</a></p>
{% if novo_sucesso %}
<div></div>
{% endif %}

<form method="POST" action="/i/forms/edit/">
	{% csrf_token %}
	<div class="form-group">
		<label for="nr">NR</label>
		<small>Caso queira trocar, edite o código abaixo.</small>
		<input type="text" class="form-control" name="nr" placeholder="Número Reunião" value="{{ dados.nr }}">
	</div>
	<div class="form-group">
		<label for="nome">Nome</label>
		<input type="text" class="form-control" name="nome" placeholder="Nome do formulário" value="{{ dados.nome }}">
	</div>
	<div class="form-group">
		<label for="descricao">Descrição</label>
		<small>Aparecerá como um texto introdutório aos que o preencherem.</small>
		<textarea class="form-control" name="descricao" rows="5" placeholder="Descrição do formulário">{{ dados.descricao }}</textarea>
	</div>
	<div class="form-group">
		<label for="docpublico">As respostas serão públicas no Cedro?</label><br>
		<input type="radio" name="docpublico" value="1" {% if dados.docpublico %}checked{%endif%}> Sim<br>
		<input type="radio" name="docpublico" value="0" {% if not dados.docpublico %}checked{%endif%}> Não
	</div>

	<h2>Campos</h2>
	<p>Campos cujo <i>texto da questão</i> estiver em branco serão ignorados.
	<div class="row">
	<div id="campos-form">
	{% for campo in dados.campos %}
		<div class="form-group col-md-3" id="campo{{forloop.counter0}}">
			<p><label for="nomecampo{{forloop.counter0}}"><h4>Questão {{forloop.counter}}</h4></label>
			<input type="text" class="form-control" name="nomecampo{{forloop.counter0}}" placeholder="Texto da questão" value="{{campo.nome}}"></p>

			<p><label for="tipo{{forloop.counter0}}">Tipo</label>
			<select class="form-control" name="tipo{{forloop.counter0}}">
				<option value="char" {% if campo.tipo = "char" %}selected{%endif%}>Texto simples</option>
				<option value="text" {% if campo.tipo = "text" %}selected{%endif%}>Texto longo</option>
				<option value="select" {% if campo.tipo = "select" %}selected{%endif%}>Seleção múltipla</option>
			</select>

			<label for="opcampo{{forloop.counter0}}">Valor padrão</label>
			<br><small>Caso seja <u><i>seleção múltipla</i></u>, informe as opções, <u>uma por linha</u>.</small>
			<textarea class="form-control" name="opcampo{{forloop.counter0}}" rows="3" placeholder="Informe o(s) valor(es) padrão.">{{campo.op}}</textarea></p>

			<p><label for="desccampo{{forloop.counter0}}">Descrição</label>
			<small>Será exibida ao lado do campo em questão.</small>
			<textarea class="form-control" name="desccampo{{forloop.counter0}}" rows="2" placeholder="Descrição do campo">{{campo.desc}}</textarea></p>
			
			<p><label for="ordem{{forloop.counter0}}">Ordem</label>
			<small>Informe a posição deste campo no formulário.</small>
			<input type="number" class="form-control" name="ordem{{forloop.counter0}}" min="0" value="{{campo.ordem}}"></p>
		</div>
	{% empty %}
		<div class="form-group col-md-3" id="campo0">
			<p><label for="nomecampo0"><h4>Questão 1</h4></label>
			<input type="text" class="form-control" name="nomecampo0" placeholder="Texto da questão" value="{{campo.nome}}"></p>

			<p><label for="tipo0">Tipo</label>
			<select class="form-control" name="tipo0">
				<option value="char">Texto simples</option>
				<option value="text">Texto longo</option>
				<option value="select">Seleção múltipla</option>
			</select>

			<label for="opcampo0">Valor padrão</label>
			<br><small>Caso seja <u><i>seleção múltipla</i></u>, informe as opções, <u>uma por linha</u>.</small>
			<textarea class="form-control" name="opcampo0" rows="3" placeholder="Informe o(s) valor(es) padrão.">{{campo.op}}</textarea></p>

			<p><label for="desccampo0">Descrição</label>
			<small>Será exibida ao lado do campo em questão.</small>
			<textarea class="form-control" name="desccampo0" rows="2" placeholder="Descrição do campo">{{campo.desc}}</textarea></p>
			
			<p><label for="ordem0">Ordem</label>
			<small>Informe a posição deste campo no formulário.</small>
			<input type="number" class="form-control" name="ordem0" min="0" value="{%if not campo.ordem%}1{%else%}{{campo.ordem}}{%endif%}"></p>
		</div>
	{% endfor %}
	</div>

	<div class="form-group">
		<p style="padding-left:15px;"><button class="btn btn-info" onclick="adicionacampo(); return false;"><i class="fa fa-plus"></i>&nbsp;Adicionar campo</button></p>
	</div>

	</div>

	<div class="form-group">
		<button type="submit" class="btn btn-success">Salvar</button>
		<a href="/i/forms/" class="btn btn-danger">Cancelar</a></button>
	</div>
</form>

{% endblock %}