
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NR | {% block titulo %}Número Reunião{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="/static/dist/css/skins/skin-red.min.css">

        <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="hold-transition skin-red fixed sidebar-mini">
    <div class="wrapper">

      {% include 'partials/header.htm' %}
      <aside class="main-sidebar">
      {% include 'partials/sidebar.htm' %}
      </aside>

      <div class="content-wrapper" id="conteudo">
      {% block principal %}
        <section class="content-header">
          <h1>
            {% block cabecalho %}Número Reunião{% endblock %}
            <small>{% block descricao %}{% endblock %}</small>
          </h1>
        </section>

        <section class="content">
          {% block conteudo %}
          {% endblock %}
        </section>
      {% endblock %}
      </div>

    {% include 'partials/footer.htm' %}

    {% include 'partials/control.htm' %}

    <script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    <script type='application/javascript' src='/static/plugins/fastclick/fastclick.min.js'></script>
    <script type='application/javascript' src='/static/plugins/slimScroll/jquery.slimscroll.min.js'></script>

    <script src="/static/dist/js/app.js"></script>
  </body>
</html>
