<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Número Reunião</title>


    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Número Reunião</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" action="/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="usuario" placeholder="Usuário" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="senha" placeholder="Senha" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Entrar</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Não se perca mais!</h1>
        <p>O <strong>Número Reunião</strong> identifica pessoas, empresas, entidades governamentais, documentos e quaisquer outras coisas dignas de serem lembradas. Apenas escolha o tipo, preencha os dados pedidos e pronto!</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Crie já o seu &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Cedro</h2>
          <p>O Catálogo Estendido de Documentos Reuniãos e Outros (C.E.D.R.O.) reune todos os Números Reuniãos e seus respectivos dados. Digite o NR e visualize o documento. </p>
          <p><a class="btn btn-default" href="#" role="button">Buscar por NR &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Formulários</h2>
          <p>Crie formulários cujas respostas automaticamente recebem um Número Reunião e são armazenadas no Cedro, de forma pública ou privada. Útil para gerir cadastros e mantê-los atualizados.</p>
          <p><a class="btn btn-default" href="#" role="button">Criar um formulário &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Identifique-se!</h2>
          <p>Use seu Número Reunião para se identificar e mantenha seu perfil atualizado com sua residência atual, cargos, dados de contato, entre outros.</p>
          <p><a class="btn btn-default" href="#" role="button">Atualizar perfil &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>ICW3 | <a href="http://www.reuniao.org/">Sacro Império de Reunião</a></p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  </body>
</html>
