      <!-- Main Footer -->
      <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
          ll
        </div>
        <!-- Default to the left -->
        <strong>ICW3 | <a href="http://www.reuniao.org/">Sacro Império de Reunião</a>.</strong>
      </footer>