        <section class="sidebar">

          <div class="user-panel">
            <div class="pull-left image">
              <img src="/static/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{{ nome_usuario }}</p>
              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
          </div>

          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Digite um NR">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>

{%if ativo_form %} class="active"{% endif %}
          <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <li{%if ativo_form %} class="active"{% endif %}><a href="/i/inbox/"><i class="fa fa-inbox"></i> <span>Caixa de entrada</span></a></li>
            <li{%if ativo_form %} class="active"{% endif %}><a href="/i/forms/"><i class="fa fa-file-text-o"></i> <span>Formulários</span></a></li>
            <li class="treeview">
              <a href="#"><i class="fa fa-book"></i> <span>Documentos</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#">Link in level 2</a></li>
                <li><a href="#">Link in level 2</a></li>
              </ul>
            </li>
          </ul>
        </section>