<html>
<head>
	<title>{{nr}} - {{nome}}</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div align="center" style="padding: 50 0 50 0">
		<img src="http://imagens.micronacao.com.br/upload/2015/02/07/20150207080458-c02e629a.jpg">
		<p><strong>{{ nr }}</strong><br>
		<i>Sacro Império de Reunião</i></p>
	</div>
	<h1>{{ nome }}</h1>
	<p>{{ descricao }}</p>
	<hr>
	<form method="POST">
	{% csrf_token %}
	{% for campo in campos %}
		<p>
			<small>({{forloop.counter}})</small> <strong>{{ campo.nome }}</strong><br>
			{{ campo.descricao }}<br>
		{% if campo.tipo == 'char' %}
			<input type="text" class="form-control" name="{{ campo.mnemonico }}"{%if campo.requerido%} required{%endif%}>
		{% elif campo.tipo == 'text' %}
			<textarea class="form-control" rows="5"name="{{ campo.mnemonico }}"{%if campo.requerido%} required{%endif%}></textarea>
		{% elif campo.tipo == 'op' %}
			<select class="form-control" name="{{ campo.mnemonico }}"{%if campo.requerido%} required{%endif%}>
				{% for opcao in campo.opcoes %}
					<option>{{ opcao.nome }}</option>
				{% endfor %}
			</select>
		{% elif campo.tipo == 'select' %}
				{% for opcao in campo.opcoes %}
					<input type="radio" name="{{ campo.mnemonico }}" value="{{ opcao.nome }}"{%if campo.requerido%} required{%endif%}><span>{{ opcao.nome }}</span><br>
				{% endfor %}
		{% endif %}
		</p>
	{% endfor %}
	<button type="submit" class="btn btn-success">Enviar</button>
	</form>

	<script src="/static/plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</div>
</body>
</html>